﻿<div class="column">
    <h1>Поиск по названию города</h1>

    <label>Название города</label>
    <input type="text" id="city-input"/>

    <input type="button" value="Искать" id="city-search-button" />
</div>

<div class="column">
    <h1>Результат</h1>
    <textarea readonly disabled id="result-text" rows="8"></textarea>
</div>

<script type="text/javascript">
    var search = async function () {
        var cityName = document.getElementById('city-input').value;
        var url = '/city/locations?city=' + cityName;
        var response = await window.fetch(url);

        let resultJson = await response.json();
        formatResult(resultJson, 'result-text');
    }

    var searchButton = document.getElementById("city-search-button");

    searchButton.addEventListener('click', search);

</script>
