﻿<div class="column">
    <h1>Поиск адреса по IP адресу</h1>

    <label>IP адрес</label>
    <input type="text" id="ip-input"/>

    <input type="button" value="Искать" id="ip-search-button" />
</div>

<div class="column">
    <h1>Результат</h1>
    <textarea readonly disabled id="result-text" rows="8"></textarea>
</div>

<script>
    var search = async function () {
        var ip = document.getElementById('ip-input').value;
        var url = '/ip/location?ip=' + ip;
        var response = await window.fetch(url);

        let resultJson = await response.json();
        formatResult(resultJson, 'result-text');
    }

    var searchButton = document.getElementById("ip-search-button");

    searchButton.addEventListener('click', search);

</script>